@charset "UTF-8";

@font-face {
  font-family: 'icon-fonts';
  src: url("../font/icon-fonts.eot");
  src: url("../font/icon-fonts.eot?#iefix") format('embedded-opentype'), url("../font/icon-fonts.woff") format('woff'), url("../font/icon-fonts.ttf") format('truetype'), url("../font/icon-fonts.svg#icon-fonts") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icon-fonts';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
/* fix buttons height */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
}

.icon-at:before { content: '\40'; } /* '@' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-th-list:before { content: '\2630'; } /* '☰' */
.icon-music:before { content: '\266b'; } /* '♫' */
.icon-flight:before { content: '\2708'; } /* '✈' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-quote-left:before { content: '\275d'; } /* '❝' */
.icon-quote-right:before { content: '\275e'; } /* '❞' */
.icon-code-1:before { content: '\e801'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-retweet:before { content: '\e717'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-chat:before { content: '\e720'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-archive:before { content: '\e738'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-popup:before { content: '\e74c'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-font:before { content: '\e779'; } /* '' */
.icon-terminal:before { content: '\e7ac'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-icq:before { content: '\f304'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */
.icon-skype-1:before { content: '\e806'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-vimeo-rect:before { content: '\f30e'; } /* '' */
.icon-tumblr-rect:before { content: '\f310'; } /* '' */
.icon-google-circles:before { content: '\e804'; } /* '' */
.icon-tumblr:before { content: '\f311'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-lastfm:before { content: '\f318'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-picasa:before { content: '\f31c'; } /* '' */
.icon-wordpress:before { content: '\f31d'; } /* '' */
.icon-picture-2:before { content: '\e805'; } /* '' */
.icon-picture-1:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-leaf:before { content: '🍂'; } /* '\1f342' */
.icon-palette:before { content: '🎨'; } /* '\1f3a8' */
.icon-video:before { content: '🎬'; } /* '\1f3ac' */
.icon-video-1:before { content: '\e803'; } /* '' */
.icon-videocam-alt:before { content: '🏹'; } /* '\1f3f9' */
.icon-lamp:before { content: '💡'; } /* '\1f4a1' */
.icon-folder:before { content: '📁'; } /* '\1f4c1' */
.icon-doc-text:before { content: '📄'; } /* '\1f4c4' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-shuffle:before { content: '🔀'; } /* '\1f500' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-link-1:before { content: '\e800'; } /* '' */
.icon-link:before { content: '🔗'; } /* '\1f517' */
.icon-wrench:before { content: '🔧'; } /* '\1f527' */