@charset "UTF-8";


.js-icon-plus:before { content: '\2b'; } /* '+' */
.js-icon-minus:before { content: '\2d'; } /* '-' */
.js-icon-info:before { content: '\2139'; } /* 'ℹ' */
.js-icon-home:before { content: '\2302'; } /* '⌂' */
.js-icon-cloud:before { content: '\2601'; } /* '☁' */
.js-icon-star:before { content: '\2605'; } /* '★' */
.js-icon-star-empty:before { content: '\2606'; } /* '☆' */
.js-icon-menu:before { content: '\2630'; } /* '☰' */
.js-icon-heart-empty:before { content: '\2661'; } /* '♡' */
.js-icon-heart:before { content: '\2665'; } /* '♥' */
.js-icon-note:before { content: '\266a'; } /* '♪' */
.js-icon-note-beamed:before { content: '\266b'; } /* '♫' */
.js-icon-layout:before { content: '\268f'; } /* '⚏' */
.js-icon-flight:before { content: '\2708'; } /* '✈' */
.js-icon-mail:before { content: '\2709'; } /* '✉' */
.js-icon-check:before { content: '\2713'; } /* '✓' */
.js-icon-cancel:before { content: '\2715'; } /* '✕' */
.js-icon-help:before { content: '\2753'; } /* '❓' */
.js-icon-quote:before { content: '\275e'; } /* '❞' */
.js-icon-list:before { content: '\e005'; } /* '' */
.js-icon-code:before { content: '\e714'; } /* '' */
.js-icon-export:before { content: '\e715'; } /* '' */
.js-icon-comment:before { content: '\e718'; } /* '' */
.js-icon-chat:before { content: '\e720'; } /* '' */
.js-icon-location:before { content: '\e724'; } /* '' */
.js-icon-rss:before { content: '\e73a'; } /* '' */
.js-icon-down-open-mini:before { content: '\e760'; } /* '' */
.js-icon-left-open-mini:before { content: '\e761'; } /* '' */
.js-icon-right-open-mini:before { content: '\e762'; } /* '' */
.js-icon-up-open-mini:before { content: '\e763'; } /* '' */
.js-icon-github:before { content: '\f300'; } /* '' */
.js-icon-flickr:before { content: '\f303'; } /* '' */
.js-icon-vimeo:before { content: '\f306'; } /* '' */
.js-icon-twitter:before { content: '\f309'; } /* '' */
.js-icon-facebook:before { content: '\f30c'; } /* '' */
.js-icon-facebook-squared:before { content: '\f30e'; } /* '' */
.js-icon-gplus:before { content: '\f30f'; } /* '' */
.js-icon-pinterest:before { content: '\f312'; } /* '' */
.js-icon-tumblr:before { content: '\f315'; } /* '' */
.js-icon-linkedin:before { content: '\f318'; } /* '' */
.js-icon-dribbble:before { content: '\f31b'; } /* '' */
.js-icon-stumbleupon:before { content: '\f31e'; } /* '' */
.js-icon-lastfm:before { content: '\f321'; } /* '' */
.js-icon-instagrem:before { content: '\f32d'; } /* '' */
.js-icon-skype:before { content: '\f339'; } /* '' */
.js-icon-paypal:before { content: '\f342'; } /* '' */
.js-icon-picasa:before { content: '\f345'; } /* '' */
.js-icon-soundcloud:before { content: '\f348'; } /* '' */
.js-icon-behance:before { content: '\f34e'; } /* '' */
.js-icon-google-circles:before { content: '\f351'; } /* '' */
.js-icon-picture:before { content: '🌄'; } /* '\1f304' */
.js-icon-mic:before { content: '🎤'; } /* '\1f3a4' */
.js-icon-video:before { content: '🎬'; } /* '\1f3ac' */
.js-icon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.js-icon-thumbs-down:before { content: '👎'; } /* '\1f44e' */
.js-icon-doc-text:before { content: '📄'; } /* '\1f4c4' */
.js-icon-calendar:before { content: '📅'; } /* '\1f4c5' */
.js-icon-attach:before { content: '📎'; } /* '\1f4ce' */
.js-icon-bookmarks:before { content: '📑'; } /* '\1f4d1' */
.js-icon-book-open:before { content: '📖'; } /* '\1f4d6' */
.js-icon-signal:before { content: '📶'; } /* '\1f4f6' */
.js-icon-camera:before { content: '📷'; } /* '\1f4f7' */
.js-icon-search:before { content: '🔍'; } /* '\1f50d' */
.js-icon-bookmark:before { content: '🔖'; } /* '\1f516' */
.js-icon-link:before { content: '🔗'; } /* '\1f517' */
