// -- import initial stylesheets --
@import "reset.scss";
@import "mixins.scss";
@import "base.scss";


// -- variables --
$textcolor: #333;

$twittercolor: #31c5f6;
$facebookcolor: #3b5997;

//$link: #00b4f4;
$link: #336699;
$linkhover: #ff0086;

$serif: "TeX Gyre Schola","Georgia","Bitstream Charter","Century Schoolbook L","Liberation Serif","Times",serif;
$sansserif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospace: monospace, sans-serif;


// -- typography styles
body {
	padding: 10px;
	color: $textcolor;
	text-align: center;
	font-family: $sansserif;
	font-size: 15px;
	line-height: 22px;
	-webkit-font-smoothing: antialiased;
}
pre, code, kbd, samp { font-family: $monospace; }

// -- basic styles --
a, a:active, a:visited { color: $link; text-decoration: none; }
a:hover { color: $linkhover; }
a:hover, a:active { outline: none; }

// -- page structure --
.bodyContainer {
	width: 1000px;
	margin: auto;
	overflow: hidden;
}

// -- content --
.contentContainer {
	overflow: hidden;
	width: 900px;
	float: right;
	text-align: left;
	padding-top: 22px;
	margin-top: 50px;	
	.content {
		width: 570px;
		float: left;
		margin-right: 30px;
	}
	.postContainer {
		h1 {
			font-size: 27px;
			font-style: normal;
			font-weight: 300;
			line-height: 33px;
			color: #292929;
			p { margin-bottom: 0px; }
		}		
		p { margin-bottom: 15px; }
		h1.bigTitle { margin-bottom: 0px; }
		div.return { margin-bottom: 40px; }
		strong { font-weight: bold; }
		em { font-style: italic; }
		blockquote {
			font-family: $serif;
			font-size: 20px;
			font-style: italic;
			line-height: 32px;
			color: lighten($textcolor, 40%);
		}
		ol { 
			list-style-position: inside;
			margin-bottom: 15px;
		}
		ul { 
			list-style-position: inside;
			margin-bottom: 15px;
		}
	}
	
	
}

// -- post styles
.postContainer {
	overflow: hidden;
	margin-bottom: 40px;
	
	.postHeader {
		overflow: hidden;
		margin-bottom: 15px;
		 		
		.postTitle {
			width: 400px;
			float: left;
			a { &:hover { color: #000; } }
		}
				
		.postMeta {
			width: 100px;
			float: right;
			font-size: 11px;
			line-height: 20px;
			text-align: right;
			span.postDate {  
				padding: 3px 8px 5px 8px;
				color: $textcolor;
				background-color: lighten($textcolor, 70%);
				border-radius: 20px;
				-moz-border-radius: 20px;
				-webkit-border-radius: 20px;
			}
		}
	}
	
	.postBody { clear: both; }
	
	.postNavigation {
		overflow: hidden;
		padding: 20px 0px 20px 0px;
		span { display: block; } 
	}
	
	.prettyprint {
		font-size: 12px;
		margin-bottom: 15px;
		-webkit-font-smoothing: none;
		ol {
			list-style-position: inside;
		}
	}
}


// -- comments --
.commentsContainer {
	#reply-title { display: none; }
	h1 { margin-bottom: 40px; }
	
	ul.commentListContainer {
		overflow: hidden;
		list-style: none outsite;
		padding: 0px;
		margin: 0px;
		li {
			list-style: none outsite;
			margin-bottom: 45px;
			.vcard { img { float: left; margin-right: 10px; } }
			.fn { font-size: 18px; }
			.comment-awaiting-moderation,
			.comment-meta { font-size: 11px; line-height: 13px; }
			p { clear: both; margin-bottom: 6px; }
			.reply { display: none; }
		}
	}
	
	.commentForm { margin-top: 30px; }
	
	form {
		overflow: hidden;
		
		p.comment-form-author, 
		p.comment-form-email, 
		p.comment-form-url {
			overflow: hidden;
			width: 190px;
			float: left;
			font-size: 11px;
			text-transform: uppercase;
			input { width: 180px; }
		}
		p.comment-form-comment {
			clear: both;
			font-size: 11px;
			text-transform: uppercase;
		}
		p.form-submit {
			input#submit {
				border: none;
				font-size: 12px;
				padding: 3px 15px 4px 15px;
				background-color: lighten($textcolor, 70%);
				border-radius: 30px;
				-moz-border-radius: 30px;
				-webkit-border-radius: 30px;
				&:hover {
					background-color: lighten($textcolor, 20%);
					color: #f4f4f4;
				}
			}
		}
		p.form-allowed-tags { font-size: 12px; }
		input { 
			display: block;
			outline: none;
			font-size: 16px;
			padding: 3px;
			color: lighten($textcolor, 10%);
			border: 1px solid lighten($textcolor, 60%);
			&:focus {
				border: 1px solid lighten($textcolor, 40%);
			}
		}
		textarea { 
			display: block; 
			width: 560px;
			outline: none;
			color: lighten($textcolor, 10%);
			border: 1px solid lighten($textcolor, 60%);
			&:focus {
				border: 1px solid lighten($textcolor, 40%);
			}
		}
	}
}

// -- sidebar container --
.sidebarContainer {
	width: 300px;
	float: right;
		
	.sidebarPanel {
		padding-bottom: 10px;
	}
		
	.socialButtons {
		overflow: hidden;
		font-size: 11px;
		line-height: 13px;
			
		img { float: left; margin-right: 10px; }
		span { display: block; }
		span.bold { font-weight: bold; }
			
		.socialItem {
			width: 130px;
			float: left;
			margin-bottom: 20px;
			.text { margin-top: 3px; }
		}
	}
	
	.postInformation {
		padding-top: 20px;
		font-size: 12px;
		span.line,
		span.date,
		span.time {
			text-decoration: underline;
			color: lighten($textcolor, 20%);
		}
	}
}

// -- previous and next page 
.previousNextContainer {
	overflow: hidden;
	margin-bottom: 40px;
	.linkButton {
		overflow: hidden;
		a {
			display: block;
			padding: 5px 15px 6px 15px;
			background-color: lighten($textcolor, 70%);
			color: $textcolor;
			border-radius: 40px;
			-moz-border-radius: 40px;
			-webkit-border-radius: 40px;
			&:hover {
				background-color: lighten($textcolor, 10%);
				color: lighten($textcolor, 80%);
			}
		}
	}
	
	.previous { 
		float: left; 
	}
	.next { 
		float: right; 
	}
}

// --  archive styles ---
.archiveListContainer {
	margin-top: 50px;
}
ul.archiveYearList {
	overflow: hidden;
	list-style: none;

	li.year {
		overflow: hidden;
		margin-bottom: 40px;
		span.yearBigText { 
			width: 160px;
			display: block; 
			float: left;
			font-size: 64px;
			font-weight: bold;
			line-height: 66px;
			color: lighten($textcolor, 50%); 
		}
		
		ul.monthList {
			width: 200px;
			padding-top: 10px;
			float: left;
			list-style: none;
			li {
				a {
					span.arrow { display: none; color: $textcolor }
					&:hover { span.arrow { display: inline; } }
				}
			}
		}
	}
}


// -- left side navigation --
.navigationContainer {
	text-align: left;
	width: 90px;
	float: left;
	margin-top: 50px;	
	
	.logoContainer { margin-bottom: 20px; }
	ul.menu {
		list-style: none outside;
		padding: 0px;
		margin: 0px;
		li {
			margin-bottom: 10px;
			a {
				display: block;
				text-transform: capitalize;
				text-align: right;
				font-weight: bold;
				padding: 0px 25px 0px 0px;
				color: lighten($link, 20%);
				&:hover { color: $link; }
			}
		}
	}	
}

#sticky.stick {
  position: fixed;
  top: 0;
  z-index: 1;
}

// -- footer styles --
.footerContainer {
	@extend .bodyContainer;
	border-top: 1px solid lighten($textcolor, 70%);
	text-align: left;
	padding-top: 10px;
	font-size: 12px;
	overflow: hidden;
	.copyright {
		width: 600px;
		float: left;
	}
	.navigation {
		width: 300px;
		float: right;
		text-align: right;
	}
}


// -- import final stuff --
@import "validation.scss";
@import "clearfix.scss";