/**
 * Validation styles
 * Native form validation & custom validation
 */

input:valid, textarea:valid {
/*	background-color: #cbe2bf;*/
}
input:invalid, textarea:invalid {
	@include border-radius(0 0 5px red);
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
	background-color: #f0dddd;
}